<header class="fixed top-0 w-full max-w-md px-6 py-4 flex flex-row justify-between items-center h-20 bg-[#fefefe]">
    <div class="flex flex-row gap-4 ">
        <div class="w-12 h-12 rounded-full bg-[#000]">
<!-- <img src="" alt="user-profile"> -->
        </div>
        <div class="flex flex-col gap-[10px]">
<p id="header-greeting" class="font-medium text-[16px] leading-[100%]">Good morning</p>
<p id="header-user-name" class="font-bold text-[16px] leading-[100%]"> Farzaneh Taravati</p>
        </div>
    </div>
    <div class="flex flex-row gap-4">
        <span data-lucide="bell" width="24" height="24"> </span>
        <span id="liked-items-list" data-lucide="heart" width="24" height="22" class="hover:fill-[#152536]"></span>
    </div>
</header>