<nav class=" fixed bottom-0  max-w-md w-full flex flex-row justify-evenly items-center gap-4 h-[66px] bg-[#fefefe]">
    <div class="flex flex-col items-center">
        <span id="house-btn" data-lucide="house" width="24" height="24" class="text-[#152536]  hover:fill-[#152536]"></span>
        <p class=" text-icon-10 text-[#152536]">Home</p>
    </div>

    <div class="flex flex-col items-center">
        <span id="cart-btn" data-lucide="shopping-bag" width="24" height="24" class="text-[#152536] hover:fill-[#152536]"></span>
        <p class=" text-icon-10 text-[#152536]">Cart</p>
    </div>
    <div class="flex flex-col items-center">
        <span id="orders-btn" data-lucide="shopping-cart" width="24" height="24"  class="text-[#152536]  hover:fill-[#152536]"></span>
        <p class=" text-icon-10 text-[#152536]">Orders</p>
    </div>
    <div class="flex flex-col items-center">
        <span id="wallet-btn" data-lucide="wallet" width="24" height="24"  class="text-[#152536]  hover:fill-[#152536]"></span>
        <p class=" text-icon-10 text-[#152536]">Wallet</p>
    </div>
    <div class="flex flex-col items-center">
        <span id="profile-btn" data-lucide="user-round" width="24" height="24"  class="text-[#152536]  hover:fill-[#152536]"></span>
        <p class=" text-icon-10 text-[#152536]">Profile</p>
    </div>
</nav>